@charset "IBM866";
/* line 2, ../../sass/fontello/fontello-codes.scss */
.icon-check:before {
  content: '\e80c';
}

/* '' */
/* line 3, ../../sass/fontello/fontello-codes.scss */
.icon-cancel:before {
  content: '\e80e';
}

/* '' */
/* line 4, ../../sass/fontello/fontello-codes.scss */
.icon-phone:before {
  content: '\e800';
}

/* '' */
/* line 5, ../../sass/fontello/fontello-codes.scss */
.icon-warning-empty:before {
  content: '\e80d';
}

/* '' */
/* line 6, ../../sass/fontello/fontello-codes.scss */
.icon-warning:before {
  content: '\e801';
}

/* '' */
