
.icon-check:before { content: '\e80c'; } /* '' */
.icon-cancel:before { content: '\e80e'; } /* '' */
.icon-phone:before { content: '\e800'; } /* '' */
.icon-warning-empty:before { content: '\e80d'; } /* '' */
.icon-warning:before { content: '\e801'; } /* '' */