
.icon-ok-squared:before { content: '\e807'; } /* '' */
.icon-check-empty:before { content: '\e805'; } /* '' */
.icon-rouble:before { content: '\e802'; } /* '' */
.icon-apple:before { content: '\e803'; } /* '' */
.icon-pencil:before { content: '\e801'; } /* '' */
.icon-map:before { content: '\e806'; } /* '' */
.icon-down-dir:before { content: '\e809'; } /* '' */
.icon-up-dir:before { content: '\e808'; } /* '' */
.icon-android:before { content: '\e804'; } /* '' */
.icon-trash:before { content: '\e800'; } /* '' */