.current-orders
  label
    padding-bottom: $big-size-space
  input[type="checkbox"]
    display: none
  input[type="checkbox"] + .checkbox span
    display: inline-block
    width: 21px
    height: $middle-size-space
    vertical-align: middle
    background: url("../img/check-no.png") no-repeat
    cursor: pointer
    position: relative
    top: $middle-size-space
    left: -20px
  input[type="checkbox"]:checked + .checkbox span
    background: url("../img/check-yes.png") no-repeat