header
  background-color: #F2795A
  padding-top: 20px
  padding-bottom: 10px
  border-bottom: 2px solid #D06B52
  width: 100%
  .list-inline 
    margin-top: 5px
    li
      background-color: #D06B52
      margin-left: 10px
      padding-bottom: 1px
    li:hover
      background-color: #fff
      a
        color: #F2795A   
    .admin-menu
      background-color: #F2795A  
    a
      text-decoration: none
      color: #fff  

header .list-inline
  .active
    background-color: #fff
    a
      color: #F2795A  

.header-fix
  position: fixed 
  z-index: 1000  

.body-block
  padding-top: 75px  
  padding-bottom: 60px           