//////////icon
.icon-down-dir, .icon-up-dir
  color: $header-bg-color
  font-size: 25px
  vertical-align: middle
  margin-right: -7px

.icon-up-dir
  color: $icon-up-color  

.icon-android, .icon-apple
  font-size: 18px
  color: $icon-device-color

.icon-rouble
  font-size: 18px
/////end